<div class="wrapper fadeInDown">
    <div id="formContent">
        <p class="fadeIn first"></p>
        <h1 class="fadeIn first">LOGIN</h1>
        <form (submit)="login($event)">
            <div>
                <input type="text" name="email" class="fadeIn second" placeholder="Email" [(ngModel)]="email"/>
            </div>
            <div>
                <input type="text" name="password" class="fadeIn third" placeholder="Password" [(ngModel)]="password"/>
            </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    </div>
</div>

